
$color1: #dcdcdc;
$color2: #282828;
$color3: #c8dcdc;
$color4: #b4b4b4;
$color5: #f0f0f0;
$color6: #dcdcf0;


$fontFamily: 'Philosopher', sans-serif;

$fontWeight400: 400;
$fontWeight700: 700;
$fontStyle: italic;